# Ignore everything:
*

# Except..
!.gitignore
!README.md
!themes/
!themes/user
!themes/user/reefine
!themes/user/reefine/*
!themes/user/reefine/*/*
!themes/user/reefine/*/*/*
!system/
!system/user
!system/user/addons
!system/user/addons/reefine
!system/user/addons/reefine/*
!system/user/addons/reefine/*/*
!system/user/addons/reefine/*/*/*
!docs
!docs/*
!docs/*/*