# Ignore everything:
*

# Except..
!.gitignore
!ee2/
!ee2/themes/
!ee2/themes/third_party
!ee2/themes/third_party/reefine
!ee2/themes/third_party/reefine/*
!ee2/themes/third_party/reefine/*/*
!ee2/themes/third_party/reefine/*/*/*
!ee2/system/
!ee2/system/expressionengine
!ee2/system/expressionengine/third_party
!ee2/system/expressionengine/third_party/reefine
!ee2/system/expressionengine/third_party/reefine/*
!ee2/system/expressionengine/third_party/reefine/*/*
!ee2/system/expressionengine/third_party/reefine/*/*/*
!ee2/docs
!ee2/docs/*
!ee2/docs/*/*


